body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
